@font-face {
  font-family: "Futura";
  src: url(../fonts/FuturaLight.ttf);
}
@font-face {
  font-family: "Avenir";
  src: url(../fonts/AvenirLight.ttf);
}

* {
  box-sizing: border-box;
}
body {
  background-color: #fafafa;
  font-family: "Avenir";
  margin: 0;
  padding: 0;
}

header {
  height: 40vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin-bottom: 3.5em;
}

.logo {
  height: 30vh;
  width: 100%;
  text-align: center;
  margin-top: 6vh;
}

.logo img {
  height: 15vh;
}

h1 {
  font-size: 2em;
  letter-spacing: 0.6em;
  word-spacing: 0.2em;
  margin-top: 12px;
}

nav {
  height: 8vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

ul {
  display: inline-flex;
  list-style: none;
  padding: 6px 20px;
  border-top: 1px solid rgba(0, 0, 0, 1);
  border-bottom: 1px solid rgba(0, 0, 0, 1);
}

li {
  padding: 0px 15px;
  font-size: 0.9em;
}

a {
  color: #000000;
  text-decoration: none;
  padding: 6px;
}

a:link,
a:visited,
a:focus {
  color: #000000;
}
a:hover {
  cursor: pointer;
  color: #f6cec8;
  background-color: #dd8469;
}

/*SECTION INFOPIC*/
.aromaterapia {
  height: 70vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.infoAromaterapia {
  height: 65vh;
  width: 70vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  
}

.infoAromaterapia img {
  height: 65vh;
  width: 60vw;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
  filter: opacity(0.9) brightness(90%) contrast(95%);
}

.infoAromaterapia div {
  width: 57vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 30%;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.infoAromaterapia h2 {
  font-size: 1.7em;
}
.infoAromaterapia p {
  width: 45vw;
  font-size: 1.15em;
  text-align: center;
  margin-top: 0;
}

/*SECTION PRODUCTS GRID*/
.products{
  height: 120vh;
  width: 100%;
  margin: 5em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products > h3 {
  text-align: center;
  font-size: 1.8em;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  word-spacing: 0.13em;
}

.productPics {
  width: 75vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 3.5em;
  row-gap: 3em;
}
.productPics img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.35rem;
}
.productPics img:hover {
  cursor: pointer;
}

.overlay {
  position: absolute;
  top: 0;
  overflow: hidden;
  width: 0;
  height: 100%;
  border-radius: 0.35rem;
  transition: 0.6s ease-in-out;
}
.container:hover .overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
}

.overlay h3 {
  margin: 0px;
  position: absolute;
  justify-content: center;
  color: #dd8469;
  font-family: "Futura";
  font-size: 1.5em;
  letter-spacing: 0.18em;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overlay>h3:hover{ 
  cursor: pointer;
}

.product1,
.product2,
.product3,
.product4,
.product5,
.product6,
.product7,
.product8 {
  height: 100%;
  width: 100%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  border-radius: 0.35rem;
  position: relative;
}
.product1 {
  grid-column: 1;
  grid-row: 1;
}
.product2 {
  grid-column: 2;
  grid-row: 1;
}
.product3 {
  grid-column: 3;
  grid-row: 1;
}
.product4 {
  grid-column: 4;
  grid-row: 1;
}
.product5 {
  grid-column: 1;
  grid-row: 2;
}
.product6 {
  grid-column: 2;
  grid-row: 2;
}
.product7 {
  grid-column: 3;
  grid-row: 2;
}
.product8 {
  grid-column: 4;
  grid-row: 2;
}

/* SECTION SUSCRIBE*/
.suscribe {
  height: 40vh;
  width: 100%;
  display: flex;
  flex-flow: column;
  text-align: center;
  justify-content: center;
  font-size: 1.2em;
}
.suscribe p{
  margin: 1em;
}

input::placeholder,
input,
button {
  font-family: "Avenir";
  font-size: 0.9em;
  letter-spacing: 0.07em;
}
input {
  width: 25vw;
  padding: 5px;
}

form button {
  padding: 6px;
  width: 10vw;
  height: fit-content;
  background-color: #fafafa;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}

form button:hover {
  cursor: pointer;
  color: #f6cec8;
  background-color: #dd8469;
  border: hidden;
}
/* SECTION FOOTER*/

footer {
  height: 14vh;
  width: 100%;
  display: flex;
  border-top: 1px solid rgba(0, 0, 0, 1);
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
  font-family: "Avenir";
}

.icons {
  color: #000000;
  font-size: 1.6em;
  text-align: center;
  padding: 5px 5px;
}

.fa-instagram {
  padding-right: 10px;
}
.fa-instagram:hover,
.fa-whatsapp:hover {
  transform: scale(1.25);
  color: #dd8469;
  cursor: pointer;
}

footer p {
  padding-top: 10px;
  margin: 5px;
  font-size: 0.9em;
  font-style: italic;
}
